[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/pyflakes"]
    path = bundle/pyflakes
    url = http://github.com/nvie/vim-pyflakes.git
[submodule "bundle/pep8"]
    path = bundle/pep8
    url = http://github.com/jbernard/vim-pep8.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/vcsnursery"]
	path = bundle/vcsnursery
	url = git://github.com/vim-scripts/vcsnursery.git
