[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/rails"]
    path = bundle/rails
    url = git://github.com/tpope/vim-rails.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/lustyexplorer"]
	path = bundle/lustyexplorer
	url = git://github.com/vim-scripts/LustyExplorer.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/pyref"]
	path = bundle/pyref
	url = git://github.com/xolox/vim-pyref.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/bclose"]
	path = bundle/bclose
	url = git://github.com/rbgrouleff/bclose.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/scss"]
	path = bundle/scss
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/better-css-syntax"]
	path = bundle/better-css-syntax
	url = git://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/easygrep"]
	path = bundle/easygrep
	url = git://github.com/vim-scripts/EasyGrep.git
